# Import Moduls

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

# Data Preparation

### 1. Merge data to have one complet Dataframe

In [4]:
df_diabete = pd.read_csv('data/diabetic_data.csv')
df_IDS = pd.read_csv('data/IDS_mapping.csv')

In [5]:
df_diabete.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [6]:
df_IDS.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [10]:
df_IDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   admission_type_id  65 non-null     object
 1   description        62 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [7]:
df_diabete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [14]:
# on vérifie les missing values

df_IDS['admission_type_id'].isnull().sum()

np.int64(2)

In [16]:
df_IDS = df_IDS.dropna(subset=['admission_type_id'])

df_IDS['admission_type_id'].isnull().sum()

np.int64(0)

In [18]:
df_IDS['admission_type_id'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', 'discharge_disposition_id',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '20', '21', '22', '23', '24', '25', '26', '30', '27', '28', '29',
       'admission_source_id'], dtype=object)

In [19]:
# on supprime les valeurs non numériques dans la colonne admission_type_id

df_IDS = df_IDS[pd.to_numeric(df_IDS['admission_type_id'], errors='coerce').notnull()]

df_IDS['admission_type_id'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '30', '27', '28', '29'], dtype=object)

In [20]:
# on doit modifier le type de la colonne admission_source_id pour pouvoir merger les deux df :

df_IDS['admission_type_id'] = df_IDS['admission_type_id'].astype('int64')

In [21]:
df = df_diabete.merge(
    df_IDS,
    on='admission_type_id',      
    how='left'                   
)

df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,description
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,NO,NaN
1,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,NO,Discharged/transferred to home with home healt...
2,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,NO,Transfer from another health care facility
3,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,Up,No,No,No,No,No,Ch,Yes,>30,Emergency
4,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,Up,No,No,No,No,No,Ch,Yes,>30,Discharged to home

### 2. Feature Engineering

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305298 entries, 0 to 305297
Data columns (total 51 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              305298 non-null  int64
 1   patient_nbr               305298 non-null  int64
 2   race                      305298 non-null  object
 3   gender                    305298 non-null  object
 4   age                       305298 non-null  object
 5   weight                    305298 non-null  object
 6   admission_type_id         305298 non-null  int64
 7   discharge_disposition_id  305298 non-null  int64
 8   admission_source_id       305298 non-null  int64
 9   time_in_hospital          305298 non-null  int64
 10  payer_code                305298 non-null  object
 11  medical_specialty         305298 non-null  object
 12  num_lab_procedures        305298 non-null  int64
 13  num_procedures            305298 non-null  int64
 14  num_medications           305298 non-null  int64
 15  number_outpatient         305298 non-null  int64
 16  number_emergency          305298 non-null  int64
 17  number_inpatient          305298 non-null  int64
 18  diag_1                    305298 non-null  object
 19  diag_2                    305298 non-null  object
 20  diag_3                    305298 non-null  object
 21  number_diagnoses          305298 non-null  int64
 22  max_glu_serum             16038 non-null   object
 23  A1Cresult                 51054 non-null   object
 24  metformin                 305298 non-null  object
 25  repaglinide               305298 non-null  object
 26  nateglinide               305298 non-null  object
 27  chlorpropamide            305298 non-null  object
 28  glimepiride               305298 non-null  object
 29  acetohexamide             305298 non-null  object
 30  glipizide                 305298 non-null  object
 31  glyburide                 305298 non-null  object
 32  tolbutamide               305298 non-null  object
 33  pioglitazone              305298 non-null  object
 34  rosiglitazone             305298 non-null  object
 35  acarbose                  305298 non-null  object
 36  miglitol                  305298 non-null  object
 37  troglitazone              305298 non-null  object
 38  tolazamide                305298 non-null  object
 39  examide                   305298 non-null  object
 40  citoglipton               305298 non-null  object
 41  insulin                   305298 non-null  object
 42  glyburide-metformin       305298 non-null  object
 43  glipizide-metformin       305298 non-null  object
 44  glimepiride-pioglitazone  305298 non-null  object
 45  metformin-rosiglitazone   305298 non-null  object
 46  metformin-pioglitazone    305298 non-null  object
 47  change                    305298 non-null  object
 48  diabetesMed               305298 non-null  object
 49  readmitted                305298 non-null  object
 50  description               300007 non-null  object
dtypes: int64(13), object(38)
memory usage: 118.8+ MB

In [24]:
# pourquoi age est un object ?

In [23]:
df.age.unique()

array(['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)',
       '[60-70)', '[70-80)', '[80-90)', '[90-100)'], dtype=object)

In [25]:
# on créer la nouvelle colonne numérique age en mettant le milieu de chaque intervalle

age_mapping = {
    '[0-10)': 5,
    '[10-20)': 15,
    '[20-30)': 25,
    '[30-40)': 35,
    '[40-50)': 45,
    '[50-60)': 55,
    '[60-70)': 65,
    '[70-80)': 75,
    '[80-90)': 85,
    '[90-100)': 95
}

df['age_num'] = df['age'].map(age_mapping)

# Vérification
df[['age', 'age_num']].head()

       age  age_num
0   [0-10)        5
1   [0-10)        5
2   [0-10)        5
3  [10-20)       15
4  [10-20)       15

In [26]:
# on supprime l'ancienne colonne age

df.drop(columns=['age'], inplace=True)

In [27]:
import pandas as pd
import numpy as np

# --- Paramètres ajustables ---
MISSING_THRESHOLD = 0.6          # >60% manquants → candidate à suppression
NEAR_CONST_THRESHOLD = 0.99      # 99% de la même valeur → quasi-constante
HC_ABS_THRESHOLD = 100           # >100 modalités pour une catégorielle → haute cardinalité
HC_REL_THRESHOLD = 0.5           # >50% de valeurs uniques (vs n lignes) → haute cardinalité
ID_REL_THRESHOLD = 0.95          # >95% de valeurs uniques → colonnes type ID

# --- Copier le df et traiter '?' comme manquant ---
df_ = df.replace('?', np.nan).copy()
n_rows = len(df_)

# Stats de base
missing_frac = df_.isna().mean()
nunique = df_.nunique(dropna=True)
dtype = df_.dtypes

# Colonnes constantes / quasi-constantes
constant_cols = [c for c in df_.columns if nunique[c] <= 1]
def top_ratio(s: pd.Series) -> float:
    s = s.dropna()
    if s.empty: 
        return 1.0
    return s.value_counts(normalize=True).iloc[0]

top_ratios = df_.apply(top_ratio)
near_constant_cols = [c for c in df_.columns 
                      if c not in constant_cols and top_ratios[c] >= NEAR_CONST_THRESHOLD]

# Haute cardinalité (catégorielles seulement)
is_object = dtype.apply(lambda t: t == 'object')
high_card_cols = [c for c in df_.columns if is_object[c] and 
                  (nunique[c] >= HC_ABS_THRESHOLD or nunique[c] >= HC_REL_THRESHOLD * n_rows)]

# Colonnes "ID-like" (beaucoup d'uniques)
id_like_cols = [c for c in df_.columns if nunique[c] >= ID_REL_THRESHOLD * n_rows]

# Colonnes dupliquées (même contenu)
dup_mask = df_.T.duplicated()
duplicate_cols = df_.columns[dup_mask].tolist()

# Colonnes à fort taux de NaN
high_missing_cols = missing_frac[missing_frac >= MISSING_THRESHOLD].index.tolist()

# Résumé colonne par colonne
summary = pd.DataFrame({
    'dtype': dtype.astype(str),
    'missing_frac': missing_frac.round(4),
    'nunique': nunique,
    'top_ratio': top_ratios.round(4)
}).sort_values(['missing_frac','top_ratio'], ascending=False)

print("=== Résumé des colonnes ===")
display(summary)

print("\n=== Listes de candidates potentielles à supprimer (à valider métier) ===")
print(f"- Taux de NaN >= {MISSING_THRESHOLD*100:.0f}% :", high_missing_cols)
print("- Constantes :", constant_cols)
print(f"- Quasi-constantes (top_ratio >= {NEAR_CONST_THRESHOLD}):", near_constant_cols)
print(f"- Haute cardinalité (object & nunique >= {HC_ABS_THRESHOLD} ou >= {HC_REL_THRESHOLD*100:.0f}% des lignes):", high_card_cols)
print(f"- Colonnes type ID (nunique >= {ID_REL_THRESHOLD*100:.0f}% des lignes):", id_like_cols)
print("- Colonnes dupliquées :", duplicate_cols)

# Exemple de liste "union" (à passer en revue avant suppression)
candidates = sorted(set(high_missing_cols + constant_cols + near_constant_cols + 
                        high_card_cols + id_like_cols + duplicate_cols))
print("\n→ Candidates (à inspecter avant drop) :", candidates)

=== Résumé des colonnes ===

                           dtype  missing_frac  nunique  top_ratio
weight                    object        0.9686        9     0.4179
max_glu_serum             object        0.9475        3     0.4858
A1Cresult                 object        0.8328        3     0.4828
medical_specialty         object        0.4908       72     0.2824
payer_code                object        0.3956       17     0.5274
race                      object        0.0223        5     0.7649
description               object        0.0173       23     0.1800
diag_3                    object        0.0140      789     0.1152
diag_2                    object        0.0035      748     0.0666
diag_1                    object        0.0002      716     0.0674
acetohexamide             object        0.0000        2     1.0000
troglitazone              object        0.0000        2     1.0000
examide                   object        0.0000        1     1.0000
citoglipton               object        0.0000        1     1.0000
glimepiride-pioglitazone  object        0.0000        2     1.0000
metformin-rosiglitazone   object        0.0000        2     1.0000
metformin-pioglitazone    object        0.0000        2     1.0000
glipizide-metformin       object        0.0000        2     0.9999
tolbutamide               object        0.0000        2     0.9998
miglitol                  object        0.0000        4     0.9996
tolazamide                object        0.0000        3     0.9996
chlorpropamide            object        0.0000        4     0.9992
acarbose                  object        0.0000        4     0.9970
nateglinide               object        0.0000        4     0.9931
glyburide-metformin       object        0.0000        4     0.9931
repaglinide               object        0.0000        4     0.9849
glimepiride               object        0.0000        4     0.9490
rosiglitazone             object        0.0000        4     0.9375
pioglitazone              object        0.0000        4     0.9280
glyburide                 object        0.0000        4     0.8953
number_emergency           int64        0.0000       33     0.8881
glipizide                 object        0.0000        4     0.8753
number_outpatient          int64        0.0000       39     0.8355
metformin                 object        0.0000        4     0.8036
diabetesMed               object        0.0000        2     0.7700
number_inpatient           int64        0.0000       21     0.6646
discharge_disposition_id   int64        0.0000       26     0.5919
admission_source_id        int64        0.0000       17     0.5650
readmitted                object        0.0000        3     0.5391
change                    object        0.0000        2     0.5380
gender                    object        0.0000        3     0.5376
admission_type_id          int64        0.0000        8     0.5305
number_diagnoses           int64        0.0000       16     0.4862
insulin                   object        0.0000        4     0.4656
num_procedures             int64        0.0000        7     0.4584
age_num                    int64        0.0000       10     0.2562
time_in_hospital           int64        0.0000       14     0.1745
num_medications            int64        0.0000       75     0.0598
num_lab_procedures         int64        0.0000      118     0.0315
patient_nbr                int64        0.0000    71518     0.0004
encounter_id               int64        0.0000   101766     0.0000

=== Listes de candidates potentielles à supprimer (à valider métier) ===
- Taux de NaN >= 60% : ['weight', 'max_glu_serum', 'A1Cresult']
- Constantes : ['examide', 'citoglipton']
- Quasi-constantes (top_ratio >= 0.99): ['nateglinide', 'chlorpropamide', 'acetohexamide', 'tolbutamide', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone']
- Haute cardinalité (object & nunique >= 100 ou >= 50% des lignes): ['diag_1', 'diag_2', 'diag_3']
- Colonnes type ID (nunique >= 95% des lignes): []
- Colonnes dupliquées : ['citoglipton']

→ Candidates (à inspecter avant drop) : ['A1Cresult', 'acarbose', 'acetohexamide', 'chlorpropamide', 'citoglipton', 'diag_1', 'diag_2', 'diag_3', 'examide', 'glimepiride-pioglitazone', 'glipizide-metformin', 'glyburide-metformin', 'max_glu_serum', 'metformin-pioglitazone', 'metformin-rosiglitazone', 'miglitol', 'nateglinide', 'tolazamide', 'tolbutamide', 'troglitazone', 'weight']

In [28]:
df.examide.unique()

array(['No'], dtype=object)

In [29]:
df.citoglipton.unique()

array(['No'], dtype=object)